.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.timer-digit {
  margin: 0 5px;
}

.timer-label {
  margin: 0 5px;
}

.timer-divider {
  font-size: 24px;
  margin: 0 5px;
}
.header {
  background-image: url('./images/beautiful-butterfly-in-nature_23-2150445580.avif');
  background-size: cover; /* Масштабировать изображение, чтобы оно заполнило весь блок */
  background-position: center; /* Центрировать изображение по горизонтали и вертикали */
  height: 300px; /* Высота вашего заголовка, можно настроить на свой вкус */
  text-align: center; /* Чтобы текст внутри заголовка был по центру */
  color: white; /* Цвет текста на фоне изображения */
  display: flex; /* Сделать элемент flex-контейнером */
  flex-direction: column; /* Разместить дочерние элементы (текст) вертикально */
  justify-content: center; /* Выравнять текст по вертикали по центру */
}

.header h1 {
  font-size: 36px; /* Размер шрифта для заголовка */
  padding-top: 50px; /* Отступ сверху, чтобы текст был ниже */
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон для текста */
  padding: 20px; /* Отступ вокруг текста */
}
@media screen and (max-width: 767px) {
  .timer {
    font-size: 16px; /* Уменьшьте размер шрифта для маленьких экранов */
  }
  .timer-item-divider {
    display: none; /* Уберите вертикальные линии между элементами для экономии места */
  }
}
/* Стили для центрирования заголовка h2 */
.centered-heading {
  text-align: center; /* Центрировать текст по горизонтали */
}
/* Стили для горизонтально расположенных и уменьшенных картинок */
.horizontal-image-section {
  text-align: center;
  display: flex;
  flex-direction: row; /* Расположение изображений горизонтально */
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: flex-start; /* Выравнивание по верхней границе предыдущей картинки */
}

.horizontal-image-section img {
  max-width: 100%; /* Максимальная ширина изображения - 100% от родительского контейнера */
  height: auto; /* Автоматический расчет высоты для сохранения пропорций изображения */
  display: block; /* Убирает лишние отступы вокруг изображения */
  margin: 0 1px; /* Уменьшенные горизонтальные отступы между изображениями */
}

/* Медиа-запрос для маленьких экранов (смартфонов) */
@media screen and (max-width: 767px) {
  .horizontal-image-section img {
    max-width: 50%; /* Уменьшить ширину изображений до 50% на маленьких экранах */
  }
}
/* Стили для изображения */
.image-section {
  margin-bottom: 2px; /* Устанавливаем нижний отступ между секциями с изображением и следующими элементами */
}

.responsive-image {
  max-width: 100%; /* Максимальная ширина изображения - 100% от родительского контейнера */
  height: auto; /* Автоматический расчет высоты для сохранения пропорций изображения */
  display: block; /* Убирает лишние отступы вокруг изображения */
  margin: 0 auto; /* Центрирует изображение по горизонтали внутри контейнера */
}

.horizontal-image-section.top-margin {
  margin-top: 2px; /* Устанавливаем верхний отступ для новой секции */
}
/* Стили для отцентрированного текста в параграфах */
.image-section p,
.horizontal-image-section p {
  text-align: center; /* Выравнивание текста по центру */
}
.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  z-index: 2;
}

.oval {
  width: 150px;
  height: 50px;
  background-color: black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.text {
  font-weight: bold;
  color: white;
  white-space: nowrap;
  padding: 0 10px;
}

.custom-list li::before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: calc(30px + 5px + 10px);
  transform: translateY(-1px);
  z-index: 0;
}

.custom-list img {
  margin-left: 88px; /* Перемещение картинки вправо на 20px, вы можете изменить это значение по вашему желанию */
}

/* Стили для списка с чекбоксами */
ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0;
}

/* Стили для каждого элемента списка */
li {
  display: flex; /* Используем flex-контейнер */
  align-items: center; /* Выравниваем элементы по вертикали */
  margin-bottom: 10px; /* Добавляем немного отступа между элементами */
}

/* Стили для чекбоксов */
input[type='checkbox'] {
  margin-right: 10px; /* Отступ справа от чекбокса для размещения его слева */
}
