.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

body {
  background-image: url('./images/background-lock.jpg');
  background-size: cover; /* Растягиваем изображение на всю ширину и высоту */
}

h1 {
  font-family: 'Dancing Script';
}

.timer-digit {
  margin: 0 5px;
}

.timer-label {
  margin: 0 5px;
}

.timer-divider {
  font-size: 24px;
  margin: 0 5px;
}
.header {
  background-image: url('./images/background-title.jpg');
  background-size: cover; /* Масштабировать изображение, чтобы оно заполнило весь блок */
  background-position: center; /* Центрировать изображение по горизонтали и вертикали */
  height: 300px; /* Высота вашего заголовка, можно настроить на свой вкус */
  text-align: center; /* Чтобы текст внутри заголовка был по центру */
  color: white; /* Цвет текста на фоне изображения */
  display: flex; /* Сделать элемент flex-контейнером */
  flex-direction: column; /* Разместить дочерние элементы (текст) вертикально */
  justify-content: center; /* Выравнять текст по вертикали по центру */
  border-radius: 15px;
}

.header h1 {
  font-size: 36px; /* Размер шрифта для заголовка */
  padding-top: 50px; /* Отступ сверху, чтобы текст был ниже */
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон для текста */
  padding: 20px; /* Отступ вокруг текста */
}
@media screen and (max-width: 767px) {
  .timer {
    font-size: 16px; /* Уменьшьте размер шрифта для маленьких экранов */
  }
  .timer-item-divider {
    display: none; /* Уберите вертикальные линии между элементами для экономии места */
  }
}
/* Стили для центрирования заголовка h2 */
.centered-heading {
  text-align: center; /* Центрировать текст по горизонтали */
}
/* Стили для горизонтально расположенных и уменьшенных картинок */
.horizontal-image-section {
  text-align: center;
  display: flex;
  flex-direction: row; /* Расположение изображений горизонтально */
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: flex-start; /* Выравнивание по верхней границе предыдущей картинки */
}

.horizontal-image-section img {
  max-width: 100%; /* Максимальная ширина изображения - 100% от родительского контейнера */
  height: auto; /* Автоматический расчет высоты для сохранения пропорций изображения */
  display: block; /* Убирает лишние отступы вокруг изображения */
  margin: 0 1px; /* Уменьшенные горизонтальные отступы между изображениями */
}

/* Медиа-запрос для маленьких экранов (смартфонов) */
@media screen and (max-width: 767px) {
  .horizontal-image-section img {
    max-width: 50%; /* Уменьшить ширину изображений до 50% на маленьких экранах */
    height: 250px;
    border-radius: 15px;
  }
}

/* Стили для изображения */
.image-section {
  margin-bottom: 2px; /* Устанавливаем нижний отступ между секциями с изображением и следующими элементами */
}

.responsive-image {
  max-width: 100%; /* Максимальная ширина изображения - 100% от родительского контейнера */
  height: auto; /* Автоматический расчет высоты для сохранения пропорций изображения */
  display: block; /* Убирает лишние отступы вокруг изображения */
  margin: 0 auto; /* Центрирует изображение по горизонтали внутри контейнера */
  border-radius: 15px;
}

.horizontal-image-section.top-margin {
  margin-top: 2px; /* Устанавливаем верхний отступ для новой секции */
}
/* Стили для отцентрированного текста в параграфах */
.image-section p,
.horizontal-image-section p {
  text-align: center; /* Выравнивание текста по центру */
}
.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  z-index: 2;
}

.oval {
  width: 150px;
  height: 50px;
  background-color: black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: bold;
  color: white;
  white-space: nowrap;
  padding: 0 10px;
}

.custom-list li::before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: calc(30px + 5px + 10px);
  transform: translateY(-1px);
  z-index: 0;
}

.custom-list img {
  margin-left: 88px; /* Перемещение картинки вправо на 20px, вы можете изменить это значение по вашему желанию */
}

/* Стили для списка с чекбоксами */
ul {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0;
}

/* Стили для каждого элемента списка */
li {
  display: flex; /* Используем flex-контейнер */
  align-items: center; /* Выравниваем элементы по вертикали */
  margin-bottom: 10px; /* Добавляем немного отступа между элементами */
}

/* Стили для чекбоксов */
input[type='checkbox'] {
  margin-right: 10px; /* Отступ справа от чекбокса для размещения его слева */
}
/* Стили для контейнера */
.container {
  width: 100vw; /* 100% ширины экрана */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Настройте другие стили для контейнера по вашему усмотрению */
  box-sizing: border-box; /* Учитываем внутренние отступы в общей ширине и высоте */
}

/* Стили для инпутов */
input[type='text'] {
  width: 1100px; /* Ширина инпута на компьютерах */
  height: 40px; /* Высота инпута на компьютерах */
  /* Другие стили для инпутов по вашему усмотрению */
}

/* Стили для лейблов с текстом */
label {
  text-align: center;
  display: block;
  font-size: 16px; /* Размер шрифта лейбла "Подтвердите свое присутствие" на компьютерах */
}

/* Стили для выпадающего списка */
select {
  width: 1100px; /* Ширина выпадающего списка на компьютерах */
  height: 40px; /* Высота выпадающего списка на компьютерах */
  font-size: 24px; /* Размер шрифта в выпадающем списке на компьютерах */
  /* Другие стили для выпадающего списка по вашему усмотрению */
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px; /* Уменьшаем внутренние отступы на мобильных устройствах */
  }

  /* Уменьшаем размеры инпутов, лейблов и выпадающего списка на мобильных устройствах */
  input[type='text'] {
    width: 350px;
    height: 30px;
  }

  label {
    font-size: 18px; /* Размер шрифта лейбла "Подтвердите свое присутствие" на мобильных устройствах */
  }

  select {
    width: 350px; /* Ширина выпадающего списка на мобильных устройствах */
    height: 30px; /* Высота выпадающего списка на мобильных устройствах */
    font-size: 18px; /* Размер шрифта в выпадающем списке на мобильных устройствах */
    /* Другие стили для выпадающего списка на мобильных устройствах */
  }
}

.timer {
  font-family: 'Times New Roman', serif; /* Применяем шрифт Times New Roman к таймеру */
}

a {
  text-decoration: none;
}

.link-footer {
  color: #000000;
}

.footer {
  font-style: normal;
}

.link-footer:hover,
.link-footer:focus {
  color: #ffa07a;
}

.подсказка {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}
