.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.timer-digit {
  margin: 0 5px;
}

.timer-label {
  margin: 0 5px;
}

.timer-divider {
  font-size: 24px;
  margin: 0 5px;
}
.header {
  background-image: url('./images/beautiful-butterfly-in-nature_23-2150445580.avif');
  background-size: cover; /* Масштабировать изображение, чтобы оно заполнило весь блок */
  background-position: center; /* Центрировать изображение по горизонтали и вертикали */
  height: 300px; /* Высота вашего заголовка, можно настроить на свой вкус */
  text-align: center; /* Чтобы текст внутри заголовка был по центру */
  color: white; /* Цвет текста на фоне изображения */
  display: flex; /* Сделать элемент flex-контейнером */
  flex-direction: column; /* Разместить дочерние элементы (текст) вертикально */
  justify-content: center; /* Выравнять текст по вертикали по центру */
}

.header h1 {
  font-size: 36px; /* Размер шрифта для заголовка */
  padding-top: 50px; /* Отступ сверху, чтобы текст был ниже */
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон для текста */
  padding: 20px; /* Отступ вокруг текста */
}
@media screen and (max-width: 767px) {
  .timer {
    font-size: 16px; /* Уменьшьте размер шрифта для маленьких экранов */
  }
  .timer-item-divider {
    display: none; /* Уберите вертикальные линии между элементами для экономии места */
  }
}
